[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/luongvy
[access "refs/for/refs/*"]
	read = group user/luongvy
	push = group user/luongvy
	label-Code-Review = -2..+2 group user/luongvy
	label-Verified = -1..+1 group user/luongvy
	rebase = group user/luongvy
	removeReviewer = group user/luongvy
	submit = group user/luongvy
[access "refs/heads/*"]
	read = group user/luongvy
	create = group user/luongvy
	push = +force group user/luongvy
	pushMerge = group user/luongvy
[access "refs/tags/*"]
	push = group user/luongvy
	push = +force group user/luongvy
